@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins" !important
  
  ;
}

/* Headdings */
h1,
h2,
h3 {
  font-weight: 900 !important;
}

h4,
h5,
h6 {
  font-weight: 700 !important;
}

.bg-timbal {
  background: rgb(94, 55, 136) !important;
  background: linear-gradient(
    90deg,
    rgba(94, 55, 136, 1) 0%,
    rgba(72, 180, 229, 1) 100%
  ) !important;
}

.bg-timbal2 {
  background: rgb(73, 191, 227) !important;
  background: linear-gradient(
    90deg,
    rgba(73, 191, 227, 1) 0%,
    rgba(119, 196, 204, 1) 50%,
    rgba(146, 204, 192, 1) 100%
  ) !important;
}

.bg-timbal-light {
  background-color: rgba(94, 55, 136, 0.7) !important;
}

/*Text Styles*/
.text-timbal-purple {
  color: rgb(94, 55, 136) !important;
}
.feature {
  padding: 2rem 2rem !important;
  max-width: 5rem !important;
  max-height: 5rem !important;
  text-align: center !important;
}
.navbar-brand {
  width: 128px !important;
}
/*Pages*/
/*Home*/
/* Nosotros*/
header#nosotros,
header#servicios,
header#contacto {
  background-image: linear-gradient(
      to bottom,
      rgba(94, 55, 136, 0.5),
      rgba(72, 180, 229, 0.7)
    ),
    url("https://framerusercontent.com/images/oEeswu7TYD34QjfY1k48d76xI8.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 10rem 0;
}

header#kommo {
  background-image: linear-gradient(
      to bottom,
      rgba(94, 55, 136, 0.5),
      rgba(72, 180, 229, 0.7)
    ),
    url("../img/crm-team.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 10rem 0;
}
header h1 {
  font-size: 3rem !important;
  line-height: 3rem !important;
}
header p {
  font-size: 1.5rem !important;
}

/* Custom Buttons Styles */
.btn {
  border-radius: 100px !important;
}
.btn-timbal-primary {
  background: rgb(94, 55, 136) !important;
  border-color: rgb(56, 33, 80);
  color: #fff !important;
  transition: ease-in-out 300ms all;
}

.btn-timbal-primary:hover {
  background: rgb(56, 33, 80) !important;
  border-color: rgb(115, 66, 167);
  color: #fff !important;
}
.btn-timbal-secondary {
  background: rgb(3, 191, 227);
  border-color: rgb(0, 133, 160);
}

.btn-timbal-secondary:hover {
  background: rgb(0, 133, 160);
  border-color: rgb(3, 191, 227);
  color: #fff;
  transition: ease-in-out 300ms all;
}

.btn-timbal-alternative {
  background: rgb(146, 204, 192);
  border-color: rgb(110, 153, 144);
  color: #000;
  transition: ease-in-out 300ms all;
}

.btn-timbal-alternative:hover {
  background: rgb(110, 153, 144);
  border-color: rgb(146, 204, 192);
  color: #000;
}

#main-menu .nav-link {
  color: rgb(94, 55, 136) !important;
}
.active.nav-link {
  font-weight: 700 !important;
}

/* Kommo Pricing Table */
.card {
}

.card-title {
  font-size: 2.5rem;
}
.card-subtitle {
}
.card-img {
}

.card-body {
}

.card-body ul {
  list-style-type: none;
}

.card-footer {
}
